
        </div><!--container-->
        
        <footer class="page-footer indigo center-on-small-only pt-0" >
                <div class="footer-copyright">
                        <div class="container-fluid" style="text-align:center">
                            © 2017 Copyright: <a href="#"> Anirudh </a>
                        </div>
                </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous""></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        
    </body>
</html>